@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <a  href='@Url.Action("SelectIndumentaria")'alt="Ir a Indumentaria">Seleccionar Indumentaria</a>
</div>
