@{
    ViewData["Title"] = "Indumentaria";
}
<h1>@ViewData["Title"]</h1>

<p></p>
<img src= "/Fotos/Media_1.jpg" alt = "wwwroot">
<img src= "/Fotos/Media_2.jpg" alt = "wwwroot">
<img src= "/Fotos/Media_3.jpg" alt = "wwwroot">
<img src= "/Fotos/Media_4.jpg" alt = "wwwroot">
<img src= "/Fotos/Media_5.jpg" alt = "wwwroot">
<img src= "/Fotos/Media_6.jpg" alt = "wwwroot">
<img src= "/Fotos/Media_7.jpg" alt = "wwwroot">
<img src= "/Fotos/Media_8.jpg" alt = "wwwroot">
<img src= "/Fotos/Media_9.jpg" alt = "wwwroot">
<img src= "/Fotos/Media_10.jpg" alt = "wwwroot">
<form>
    <input type="number" max= "10" min="1" step="1" />
</form>
<p>


    
</p>
<img src= "/Fotos/Pantalon_1.jpg" alt = "wwwroot">
<img src= "/Fotos/Pantalon_2.jpg" alt = "wwwroot">
<img src= "/Fotos/Pantalon_3.jpg" alt = "wwwroot">
<img src= "/Fotos/Pantalon_4.jpg" alt = "wwwroot">
<img src= "/Fotos/Pantalon_5.jpg" alt = "wwwroot">
<img src= "/Fotos/Pantalon_6.jpg" alt = "wwwroot">
<img src= "/Fotos/Pantalon_7.jpg" alt = "wwwroot">
<img src= "/Fotos/Pantalon_8.jpg" alt = "wwwroot">
<img src= "/Fotos/Pantalon_9.jpg" alt = "wwwroot">
<img src= "/Fotos/Pantalon_10.jpg" alt = "wwwroot">
<form>
    <input type="number" max= "10" min="1" step="1" />
</form>