@{
    ViewData["Title"] = "Indumentaria";
}
<h1>@ViewData["Title"]</h1>

<form action="Index.cshtml">
    <p>
        Elegi un Equipo:
        <div><select>
            
        @foreach (string item in ViewBag.ListaEquipos)
        {
            <option>@item</option>
        }
</div>
</div>
        </select>
    </p>

</div>
<div id= "Formulario">
    @foreach (string item in ViewBag.ListaRemeras)
    {
        <img src= "/Fotos/@item" alt="wwwroot">
    }
    <input type="number" max= "10" min="1" step="1" required/>

</div>
<div id= "Formulario">
<@foreach (string item in ViewBag.ListaPantalones)
    {
        <img src= "/Fotos/@item"alt="wwwroot1">
    }

    <input type="number" max= "10" min="1" step="1" required/>

</div>
<div id= "Formulario">
@foreach (string item in ViewBag.ListaMedias)
    {
        <img src= "/Fotos/@item" alt = "wwwroot2">
    }

    <input type="number" max= "10" min="1" step="1" required/>

</div>

    <input type="number" max= "10" min="1" step="1" required/>
    </div>
    <p>
            <input type="submit" value = "Enviar formulario"required> 
            <input type="reset" value = "Resetear formulario"required>
        </p>
</form>
</div>